<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>New Celebrity</h2>
    <form action="/celebrities/create" method="post">
        <label for=""> Enter Name:</label>
        <input type="text" name="name">

        <label for=""> Enter Occupation:</label>
        <input type="text" name="occupation">

        <label for=""> Enter a Catch Phrase:</label>
        <input type="text" name="catchPhrase">
        <button>Submit Info</button>
    </form>


</body>
</html>