 <h2>Create a Movie</h2>
            
<form action='/movies/create' method="post">          
    <label for="" >Enter Title:</label>
    <input type="text" name="title">
                
    <label for="">Enter Genre:</label>
    <input type="text" name="genre">
              
    <label for="">Enter Plot:</label>
    <input type="text" name="plot">
              
    <label for="">Select the cast members:</label>
        <select name="cast" multiple>
            {{#each celebrities}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>

    <button>Create the Movie</button>
</form>